.default-color0.chart-pie { -fx-pie-color: #c3d9c1; }
.default-color1.chart-pie { -fx-pie-color: #87ad84; }
.default-color2.chart-pie { -fx-pie-color: #6b8768; }

.chart-pie-label{ -fx-font-size: 14px;}
.chart-pie-label{ -fx-fill: #565656;}
.chart-pie-label{ -fx-font-weight: bold;}

.chart-pie-label-line
{
    -fx-stroke: #565656;
    -fx-fill: #565656;
}
.chart-pie {
    -fx-border-width: 0px;
}



/* tableview */
.table-view {
    -fx-text-fill: white;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header-background{
    -fx-background-color:  #337C2D;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: white;
}
.table-row-cell:filled:focused:selected {
    -fx-background-color: #337C2D;
    -fx-text-fill: gray;
}
.table-row-cell{
    -fx-background-color: #93C98E;
    -fx-padding: 0.0em;
}

/* choice box */
.choice-box {
    -fx-background-color: #93C98E;
    -fx-text-fill: white;
    -fx-mark-color: white;
}

.choice-box .label {
    -fx-text-fill: white;
}

.choice-box .context-menu {
    -fx-background-color: #337C2D;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.choice-box .menu-item:focused {
    -fx-background-color: #93C98E;
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

/* Button */
.button {
    -fx-background-color: #337C2D;
    -fx-text-fill: white;
}


